@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  @apply rounded-full bg-gradient-to-t from-mainBg  to-transparent p-2
  h-1/2
}

h1 {
  @apply text-2xl md:text-3xl  text-textColor
}

main{
  @apply m-2 min-h-[100vh] flex items-start justify-start flex-wrap
}

header{
  @apply bg-mainBg flex flex-col md:flex-row  h-auto md:justify-between md:items-center md:pr-6

}

footer{
  @apply text-white h-[3vh]  w-full  bg-mainBg flex  items-center justify-center

}


}


@layer components {

  .todolist
  {
    @apply border-solid border-2 relative md:w-1/2 xl:w-1/4 flex flex-col justify-center items-center   p-3 rounded m-1
  }
  .title
  {
    @apply  text-xl text-white  border-b-2
  }
  .counter
  {
    @apply    p-4 text-lg text-cyan-300  pt-5
  }
  .formadd
  {
    @apply  my-5  w-full flex 
  }
  .formadd-input
  {
    @apply  p-3 bg-gray-300 w-full
  }
  .notdonetask
  {
    @apply  border-b-2 flex items-center justify-between my-4 rounded p-4 text-lg bg-orange-200 
  }
  .donetask
  {
    @apply  border-b-2 flex items-center justify-between my-4 rounded p-4 text-lg bg-orange-500 line-through
  }
  .icon
  {
    @apply  sm:ml-3 inline cursor-pointer
  }

  .headerTodolist{
  @apply flex justify-between items-center w-full h-12
  }

  .iconAddTodolist{
  @apply w-5 h-5 mr-3 
  }
  .buttonNewTodolist{
    @apply bg-white pt-4 md:bg-none md:pt-0 md:rounded-md
  }

  .closeTodolist{
  @apply w-8 h-8 
  }

}